body{
    background-color: #000000;
    font-family: times, sans-serif;
    margin: 0;
    padding: 20px;
}
h1{
    color: #f8f5f5;
    text-align: center;
    margin-bottom: 40px;
    line-height: 2;
    font-size: 30px;
}

.container {
    display:flex;
    flex-direction: column;
    max-width: 400px;
    margin: auto;
    color:#1a73e8
}

.qa-box {
    background: rgb(250, 248, 248);
    margin: 10px 10px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    overflow: hidden;
}

a{
    color: #1a73e8;
    text-decoration: none;
}
p{
    color: #100f11;
    font-size: 18px;
    line-height: 1.5;
}

h2 {
    color: #090909;
    margin-top: 10px;
}